.clients{
    width: 300px;
    height: 400px;
    background-position: 50% 50%;
    background-size: 50%;
}
.clients-btn{
    width: 170px;
}
.clients-img{
    width: 300px;
    height: 400px;
}
.mt-100{
    margin-top: 100px;
}
.mb-100{
    margin-bottom: 100px;
}