.mt-150{
margin-top: 150px;
}
h1{
    font-size: 69px;
}

p{
    font-size: 20px;
}
h3{
    font-size: 55px;
    font-weight: 300;
}
.col-sm-4 {
    height: 300px;
    align-items: center;
}
